
black
isort
click==7.1.2
PyYAML==5.4.1
jupyterlab
tqdm==4.54.1
scikit-learn==1.0

mediapipe==0.8.8.1
opencv-python==4.5.3.56
onnxruntime==1.9.0
torch==1.7.0
torchvision==0.8.1
open3d==0.13.0
pyvista==0.32.1
ipygany

seaborn==0.11.2
